%h1{:style => "margin-top:100px;"}
  Все статьи
- @articles.each do |article|
  %br
    = '----------'
  %br
    = article.body
  %br
    %iframe{ frameborder: 0, height: 200, src: article.video_link, width: 300 } if article.video_link
  %br
    = button_to "Редактировать статью", edit_article_path(article.id), method: :get
    &nbsp;&nbsp;&nbsp;
    = button_to "Удалить статью", article_path(article), method: :delete, data: { confirm: "Are you sure?" }
  %br
    = '----------'
